# Bỏ qua thư mục môi trường ảo
venv/
env/

# Bỏ qua các file cache của Python
__pycache__/
*.pyc

# Bỏ qua thư mục chứa file Database SQLite
instance/
*.db
*.sqlite3

# Bỏ qua các file cấu hình môi trường bảo mật (nếu có)
.env